body {
    @apply bg-gray-100 text-gray-900;
  }
  
/* Adicionando uma sombra mais leve ao passar o mouse sobre os botões */
button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
